<div class="sort-bar">
  @for (option of sortOptions; track option.key) {
    <button
      [class.active]="store.filter().sortBy === option.key"
      (click)="
        store.setSortBy(option.key);
        store.setSortOrder(store.filter().order === 'asc' ? 'desc' : 'asc')
      "
    >
      {{ option.label }}

      @if (store.filter().sortBy === option.key) {
        <span class="arrow">{{ store.filter().order === 'asc' ? '↑' : '↓' }}</span>
      }
    </button>
  }
  <button [class.active]="store.filter.query() === 'all'" (click)="store.setFilterQuery('all')">
    All
  </button>

  <button
    [class.active]="store.filter.query() === 'income'"
    (click)="store.setFilterQuery('income')"
  >
    Income
  </button>

  <button
    [class.active]="store.filter.query() === 'expense'"
    (click)="store.setFilterQuery('expense')"
  >
    Expense
  </button>
</div>
